Repository parameter1/cox-matthews-associates-websites, pull requests merged in 2021-08, with the labels that each got.

#16 Add vue chart js component for MPPWSA landing page
  sites/diverseeducation.com/browser/index.js
  sites/diverseeducation.com/browser/salary-bar-chart.vue
  sites/diverseeducation.com/package.json
  sites/diverseeducation.com/server/templates/static-pages/configs/mppwsa/index.js
  sites/diverseeducation.com/server/templates/static-pages/configs/mppwsa/profiles.js
  sites/diverseeducation.com/server/templates/static-pages/configs/mppwsa/schools.js
  sites/diverseeducation.com/server/templates/static-pages/mppwsa.marko
  yarn.lock
Labels: site: diverseeducation.com

#17 Add eSurveyPro block
  packages/global/components/blocks/esurveypro.marko
  packages/global/components/blocks/marko.json
  packages/global/scss/components/blocks/_esurveypro.scss
  packages/global/scss/core.scss
  sites/diverseeducation.com/server/templates/content/index.marko
  sites/diverseeducation.com/server/templates/index.marko
  sites/diverseeducation.com/server/templates/website-section/index.marko
Labels: site: diverseeducation.com

#18 Update CCN, DM, DH layouts
  packages/global/components/blocks/promos/diverse-education.marko
  packages/global/components/blocks/promos/marko.json
  sites/ccnewsnow.com/marko.json
  sites/ccnewsnow.com/server/components/blocks/marko.json
  sites/ccnewsnow.com/server/components/blocks/promo-card-rotation.marko
  sites/ccnewsnow.com/server/components/marko.json
  sites/ccnewsnow.com/server/templates/content/index.marko
  sites/ccnewsnow.com/server/templates/index.marko
  sites/ccnewsnow.com/server/templates/website-section/index.marko
  sites/diversemilitary.net/marko.json
  sites/diversemilitary.net/server/components/blocks/marko.json
  sites/diversemilitary.net/server/components/blocks/promo-card-rotation.marko
  sites/diversemilitary.net/server/components/marko.json
  sites/diversemilitary.net/server/templates/content/index.marko
  sites/diversemilitary.net/server/templates/index.marko
  sites/diversemilitary.net/server/templates/website-section/index.marko
  sites/divhealth.net/marko.json
  sites/divhealth.net/server/components/blocks/marko.json
  sites/divhealth.net/server/components/blocks/promo-card-rotation.marko
  sites/divhealth.net/server/components/marko.json
  sites/divhealth.net/server/templates/content/index.marko
  sites/divhealth.net/server/templates/index.marko
  sites/divhealth.net/server/templates/website-section/index.marko
Labels: site: diversemilitary.net, site: divhealth.net, site: ccnewsnow.com

#19 Add social sharing to top of content page
  packages/global/components/layouts/content/default.marko
Labels: site: all

#15 Allow crawling
  sites/ccnewsnow.com/server/public/robots.txt
  sites/diverseeducation.com/server/public/robots.txt
  sites/diversemilitary.net/server/public/robots.txt
  sites/divhealth.net/server/public/robots.txt
Labels: site: all

#14 Arthur ashe
  packages/common/package.json
  packages/global/components/layouts/content/default.marko
  packages/global/components/nodes/awards.marko
  packages/global/graphql/fragments/content-page.js
  packages/global/package.json
  packages/global/scss/components/_content-page.scss
  packages/global/scss/components/_page-wrapper.scss
  packages/shared/package.json
  sites/ccnewsnow.com/package.json
  sites/diverseeducation.com/package.json
  sites/diverseeducation.com/server/components/blocks/arthur-ashe-award-content.marko
  sites/diverseeducation.com/server/components/blocks/marko.json
  sites/diverseeducation.com/server/components/marko.json
  sites/diverseeducation.com/server/components/nodes/arthur-ashe-profiles.marko
  sites/diverseeducation.com/server/components/nodes/marko.json
  sites/diverseeducation.com/server/graphql/fragments/arthur-ashe-profile.js
  sites/diverseeducation.com/server/graphql/fragments/section-with-children.js
  sites/diverseeducation.com/server/routes/awards.js
  sites/diverseeducation.com/server/routes/awards/emerging-scholars.js
  sites/diverseeducation.com/server/routes/index.js
  sites/diverseeducation.com/server/routes/static-pages.js
  sites/diverseeducation.com/server/styles/components/awards.scss
  sites/diverseeducation.com/server/styles/components/awards/_arthur-ashe.scss
  sites/diverseeducation.com/server/styles/components/awards/_emerging-scholars.scss
  sites/diverseeducation.com/server/templates/website-section/awards-honors/arthur-ashe/index.marko
  sites/diversemilitary.net/package.json
  sites/divhealth.net/package.json
  yarn.lock
Labels: site: diverseeducation.com

#22 Fix content layout, add top stories to section feed pages
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/website-section/feed.marko
Labels: site: all

#21 Add /award-honors child section redirects
  packages/global/redirect-handler.js
  sites/diverseeducation.com/server/routes/awards.js
  sites/diverseeducation.com/server/routes/awards/redirects.js
Labels: site: diverseeducation.com

#26 Use client-side most popular blocks
  sites/ccnewsnow.com/server/templates/content/index.marko
  sites/ccnewsnow.com/server/templates/index.marko
  sites/ccnewsnow.com/server/templates/website-section/index.marko
  sites/diverseeducation.com/server/templates/content/index.marko
  sites/diverseeducation.com/server/templates/index.marko
  sites/diverseeducation.com/server/templates/website-section/index.marko
  sites/diversemilitary.net/server/templates/content/index.marko
  sites/diversemilitary.net/server/templates/index.marko
  sites/diversemilitary.net/server/templates/website-section/index.marko
  sites/divhealth.net/server/templates/content/index.marko
  sites/divhealth.net/server/templates/index.marko
  sites/divhealth.net/server/templates/website-section/index.marko
Labels: site: all

#27 Update social follow header line height for menu
  packages/global/scss/core.scss
Labels: site: all

#28 Add google-site-verification meta tag
  sites/ccnewsnow.com/server/templates/index.marko
  sites/diverseeducation.com/server/templates/index.marko
  sites/diversemilitary.net/server/templates/index.marko
  sites/divhealth.net/server/templates/index.marko
Labels: site: all

#31 Add search support
  docker-compose.yml
  packages/global/browser/index.js
  packages/global/package.json
  packages/global/routes/index.js
  packages/global/routes/search.js
  packages/global/scss/components/_pagination-controls.scss
  packages/global/scss/components/_search-page.scss
  packages/global/scss/core.scss
  packages/global/start-server.js
  packages/global/templates/search.marko
  sites/ccnewsnow.com/config/search.js
  sites/ccnewsnow.com/config/site.js
  sites/diverseeducation.com/config/search.js
  sites/diverseeducation.com/config/site.js
  sites/diversemilitary.net/config/search.js
  sites/diversemilitary.net/config/site.js
  sites/divhealth.net/config/search.js
  sites/divhealth.net/config/site.js
  yarn.lock
Labels: site: all

#32 Fix search query
  packages/global/components/site-menu/components/search.marko
Labels: site: all

#33 Add `.page-wrapper--no-padding-x` styles
  packages/global/scss/components/_page-wrapper.scss
Labels: site: all

#34 Update newsletter signup links within navigation
  sites/ccnewsnow.com/config/navigation.js
  sites/diverseeducation.com/config/navigation.js
  sites/diversemilitary.net/config/navigation.js
  sites/divhealth.net/config/navigation.js
Labels: site: all

#35 Update nav links, add html sitemap route
  packages/global/routes/index.js
  sites/ccnewsnow.com/config/navigation.js
  sites/diverseeducation.com/config/navigation.js
  sites/diversemilitary.net/config/navigation.js
  sites/divhealth.net/config/navigation.js
Labels: site: all

#37 Set displayPrimaryImage = false, remove lower blocks from contact template
  packages/global/components/layouts/content/default.marko
  packages/global/templates/content/contact.marko
  yarn.lock
Labels: site: all

#38 Remove RR sitemap configs
  packages/global/start-server.js
Labels: site: all

#39 Reset styles
  packages/global/scss/core.scss
  sites/ccnewsnow.com/server/styles/index.scss
  sites/diverseeducation.com/server/styles/index.scss
  sites/diversemilitary.net/server/styles/index.scss
  sites/divhealth.net/server/styles/index.scss
Labels: site: all

#40 Add missing favicons & webmanifest files.
  sites/ccnewsnow.com/server/public/android-chrome-192x192.png
  sites/ccnewsnow.com/server/public/android-chrome-512x512.png
  sites/ccnewsnow.com/server/public/apple-touch-icon.png
  sites/ccnewsnow.com/server/public/favicon-16x16.png
  sites/ccnewsnow.com/server/public/favicon-32x32.png
  sites/ccnewsnow.com/server/public/favicon.ico
  sites/ccnewsnow.com/server/public/site.webmanifest
  sites/diverseeducation.com/server/public/android-chrome-192x192.png
  sites/diverseeducation.com/server/public/android-chrome-512x512.png
  sites/diverseeducation.com/server/public/apple-touch-icon.png
  sites/diverseeducation.com/server/public/favicon-16x16.png
  sites/diverseeducation.com/server/public/favicon-32x32.png
  sites/diverseeducation.com/server/public/favicon.ico
  sites/diverseeducation.com/server/public/site.webmanifest
  sites/diversemilitary.net/server/public/android-chrome-192x192.png
  sites/diversemilitary.net/server/public/android-chrome-512x512.png
  sites/diversemilitary.net/server/public/apple-touch-icon.png
  sites/diversemilitary.net/server/public/favicon-16x16.png
  sites/diversemilitary.net/server/public/favicon-32x32.png
  sites/diversemilitary.net/server/public/favicon.ico
  sites/diversemilitary.net/server/public/site.webmanifest
  sites/divhealth.net/server/public/android-chrome-192x192.png
  sites/divhealth.net/server/public/android-chrome-512x512.png
  sites/divhealth.net/server/public/apple-touch-icon.png
  sites/divhealth.net/server/public/favicon-16x16.png
  sites/divhealth.net/server/public/favicon-32x32.png
  sites/divhealth.net/server/public/favicon.ico
  sites/divhealth.net/server/public/site.webmanifest
Labels: site: all

#43 Add awards to menu
  packages/global/components/site-menu/components/social-icons.marko
  packages/global/components/site-menu/index.marko
  packages/global/components/social-follow.marko
  sites/diverseeducation.com/config/navigation.js
Labels: site: diverseeducation.com

#45 Featured jobs per site
  packages/global/components/blocks/featured-jobs-list.marko
  packages/global/components/flows/content/list.marko
  packages/global/components/flows/content/marko.json
  packages/global/scss/components/blocks/_featured-jobs.scss
  packages/global/scss/components/blocks/_section-list.scss
  packages/global/scss/core.scss
Labels: site: all

#46 Add styles to override included style tag from esurvey
  packages/global/components/blocks/esurveypro.marko
  packages/global/scss/components/blocks/_esurveypro.scss
Labels: site: all

#44 Add Magazine landing pages(magazine|publication|issue) & homepage block.
  packages/global/components/blocks/magazine-issue-cards.marko
  packages/global/components/blocks/magazine-publications.marko
  packages/global/components/blocks/marko.json
  packages/global/components/flows/magazine-issue-archive.marko
  packages/global/components/flows/magazine-latest-issue.marko
  packages/global/components/flows/marko.json
  packages/global/components/nodes/magazine-issue-archive.marko
  packages/global/components/nodes/magazine-latest-issue.marko
  packages/global/components/nodes/marko.json
  packages/global/components/query-total-count.marko
  packages/global/graphql/fragments/magazine-issue-archive.js
  packages/global/graphql/fragments/magazine-issue-page.js
  packages/global/graphql/fragments/magazine-latest-issue.js
  packages/global/graphql/fragments/magazine-publication-list.js
  packages/global/graphql/fragments/magazine-publication-page.js
  packages/global/routes/index.js
  packages/global/routes/magazine.js
  packages/global/scss/components/_magazine.scss
  packages/global/scss/core.scss
  packages/global/templates/magazine/index.marko
  packages/global/templates/magazine/issue.marko
  packages/global/templates/magazine/publication.marko
Labels: site: diverseeducation.com

#51 Add top 100 and advertise links
  sites/diverseeducation.com/config/navigation.js
Labels: site: diverseeducation.com

#48 Add additional sites
  sites/ccnewsnow.com/config/navigation.js
Labels: site: ccnewsnow.com

#53 Update navigation links
  sites/ccnewsnow.com/config/navigation.js
  sites/diverseeducation.com/config/navigation.js
  sites/diversemilitary.net/config/navigation.js
  sites/divhealth.net/config/navigation.js
Labels: site: all

#56 Update job links
  sites/ccnewsnow.com/config/navigation.js
  sites/ccnewsnow.com/server/templates/content/index.marko
  sites/ccnewsnow.com/server/templates/index.marko
  sites/ccnewsnow.com/server/templates/website-section/index.marko
  sites/diversemilitary.net/config/navigation.js
  sites/divhealth.net/config/navigation.js
Labels: site: all

#59 Move DOIT link to awards
  sites/diverseeducation.com/config/navigation.js
Labels: site: diverseeducation.com

#60 Add noindex to print content page
  packages/global/templates/content/print.marko
Labels: site: all

#61 Rename student to students
  sites/diverseeducation.com/config/navigation.js
  sites/diverseeducation.com/server/templates/index.marko
Labels: site: diverseeducation.com

#62 Add diverse poll landing page
  packages/global/components/blocks/esurveypro.marko
  sites/diverseeducation.com/server/routes/diverse-poll.js
  sites/diverseeducation.com/server/routes/index.js
  sites/diverseeducation.com/server/templates/static-pages/diverse-poll.marko
Labels: site: diverseeducation.com

#65 Add magazine functionality
  packages/global/components/blocks/marko.json
  packages/global/components/flows/marko.json
  packages/global/components/magazine/blocks/magazine-current-issue.marko
  packages/global/components/magazine/blocks/magazine-issue-cards.marko
  packages/global/components/magazine/blocks/magazine-publications.marko
  packages/global/components/magazine/blocks/marko.json
  packages/global/components/magazine/flows/magazine-issue-archive.marko
  packages/global/components/magazine/flows/magazine-latest-issue.marko
  packages/global/components/magazine/flows/marko.json
  packages/global/components/magazine/graphql/fragments/magazine-issue-archive.js
  packages/global/components/magazine/graphql/fragments/magazine-issue-page.js
  packages/global/components/magazine/graphql/fragments/magazine-latest-issue.js
  packages/global/components/magazine/graphql/fragments/magazine-publication-list.js
  packages/global/components/magazine/graphql/fragments/magazine-publication-page.js
  packages/global/components/magazine/marko.json
  packages/global/components/magazine/nodes/magazine-issue-archive.marko
  packages/global/components/magazine/nodes/magazine-latest-issue.marko
  packages/global/components/magazine/nodes/marko.json
  packages/global/components/magazine/publication-buttons.marko
  packages/global/components/magazine/routes/index.js
  packages/global/components/magazine/scss/index.scss
  packages/global/components/magazine/templates/index.marko
  packages/global/components/magazine/templates/issue.marko
  packages/global/components/magazine/templates/publication.marko
  packages/global/components/marko.json
  packages/global/components/nodes/marko.json
  packages/global/routes/index.js
  packages/global/scss/core.scss
  sites/ccnewsnow.com/config/native-x.js
  sites/diverseeducation.com/config/native-x.js
  sites/diverseeducation.com/server/templates/content/index.marko
  sites/diverseeducation.com/server/templates/index.marko
  sites/diverseeducation.com/server/templates/website-section/index.marko
  sites/diversemilitary.net/config/native-x.js
  sites/divhealth.net/config/native-x.js
Labels: site: all

#67 Restore poll to home page with 300x250
  sites/diverseeducation.com/server/templates/index.marko
Labels: site: diverseeducation.com

#68 Upgrade dependencies
  packages/common/package.json
  packages/global/package.json
  sites/ccnewsnow.com/package.json
  sites/diverseeducation.com/package.json
  sites/diversemilitary.net/package.json
  sites/divhealth.net/package.json
  yarn.lock
Labels: dependencies

#70 Add subscribe landing page for DE
  sites/diverseeducation.com/config/navigation.js
  sites/diverseeducation.com/server/routes/index.js
  sites/diverseeducation.com/server/routes/subscribe.js
  sites/diverseeducation.com/server/styles/index.scss
  sites/diverseeducation.com/server/templates/subscribe.marko
Labels: site: diverseeducation.com

#72 Fix subscribe class name
  sites/diverseeducation.com/server/templates/subscribe.marko
Labels: site: diverseeducation.com

#74 Add podcasts layout, promo block
  packages/global/components/blocks/marko.json
  packages/global/components/blocks/section-feed.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/marko.json
  packages/global/scss/components/_podcasts-page.scss
  packages/global/scss/core.scss
  sites/diverseeducation.com/config/navigation.js
  sites/diverseeducation.com/config/site.js
  sites/diverseeducation.com/server/components/blocks/promo-card-rotation.marko
  sites/diverseeducation.com/server/routes/website-section.js
  sites/diverseeducation.com/server/templates/website-section/podcasts.marko
Labels: site: diverseeducation.com

#77 Update footer
  packages/global/components/site-footer.marko
  packages/global/scss/components/_site-footer.scss
  sites/ccnewsnow.com/config/navigation.js
  sites/ccnewsnow.com/config/newsletter.js
  sites/ccnewsnow.com/config/site.js
  sites/diverseeducation.com/config/navigation.js
  sites/diverseeducation.com/config/newsletter.js
  sites/diverseeducation.com/config/site.js
  sites/diversemilitary.net/config/navigation.js
  sites/diversemilitary.net/config/newsletter.js
  sites/diversemilitary.net/config/site.js
  sites/divhealth.net/config/navigation.js
  sites/divhealth.net/config/newsletter.js
  sites/divhealth.net/config/site.js
Labels: site: all
