Repository parameter1/cox-matthews-associates-websites, pull requests merged in 2022-05, with the labels that each got.

#167 Use same 'Featured Jobs' block as DE and rearrange other news block to fill 'blank'
  sites/divhealth.net/server/templates/index.marko
Labels: 🌐 site: divhealth.net

#169 Adjust ‘Featured Jobs’ block to be consistent with
  sites/ccnewsnow.com/server/templates/index.marko
  sites/diversemilitary.net/server/templates/index.marko
Labels: 🌐 site: diversemilitary.net, 🌐 site: ccnewsnow.com

#176 2022 MPPTW in CC landing page
  sites/diverseeducation.com/server/styles/components/awards/_mppw.scss
  sites/diverseeducation.com/server/templates/static-pages/configs/mppwcc-all.js
  sites/diverseeducation.com/server/templates/static-pages/configs/mppwcc-yearly/2022.js
  sites/diverseeducation.com/server/templates/static-pages/mppwcc-yearly.marko
Labels: 🌐 site: diverseeducation.com
