Repository parameter1/cox-matthews-associates-websites, pull requests merged in 2023-12, with the labels that each got.

#305 Enable GAM plugin
  packages/global/components/document.marko
Labels: 🌐 site: ALL

#307 Remove margin-left over medium breakpoint, DOIT page
  packages/global/scss/components/_doit-page.scss
Labels: 🌐 site: diverseeducation.com

#310 Remove incorrect ‘?’ from url
  packages/global/components/blocks/greeting-video.marko
Labels: bug

#311 Upgrade dependencies
  packages/global/package.json
  sites/ccnewsnow.com/package.json
  sites/diverseeducation.com/package.json
  sites/diversemilitary.net/package.json
  sites/divhealth.net/package.json
  yarn.lock
Labels: 🌐 site: ALL
